[submodule "lib/responsiveslides"]
	path = lib/responsiveslides
	url = https://github.com/viljamis/ResponsiveSlides.js.git
[submodule "lib/lightbox"]
	path = lib/lightbox
	url = https://github.com/lokesh/lightbox2.git
