@media only screen and (min-width: 768px) {
  .navbar-custom .nav li a.label {
    padding: 5px 15px;
	margin: 15px 5px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-custom .nav li a.label {
	margin: 5px 5px;
	color: white;
  }
}

.jumbotron p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-heading, .navbar {
  text-shadow: 1px 1px #333333;
}

#status_label {
  text-shadow: 0px 0px;
}
