.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  max-height: 400px;
  max-width: 100%;
  width: auto;
  border: 0;
  margin: 0px auto;
  float: none;
  }

.rslides_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../lib/responsiveslides/demo/themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides_nav:active {
  opacity: 1.0;
  }

.rslides_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.image_container, .iframe_container {
  width: 100%;
  max-height:400px;
  }

.image_container img{
  max-height: 400px;
  max-width: 100%;
  margin: 0px auto;
  display: block;
  }

.iframe_container iframe{
  max-height: 400px;
  max-width: 100%;
  margin: 0px auto;
  display: block;
  }

#log .inner {
    word-wrap: break-word;
}
