---
import Posts from '../../components/Posts.vue';
import Content from '../../layouts/Content.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const locale = Astro.currentLocale ?? 'en';
const frontmatter = {
  title: 'Munich Maker Lab',
  header_image: '/img/bg_front.jpg',
  headline: 'Munich Maker Lab',
  sub_headline: 'Münchens kreativster Makerspace',
};
---

<Content frontmatter={frontmatter}>
  <p>
    Das Munich Maker Lab ist ein Makerspace nahe dem Zentrum von München, Deutschland, und bietet Werkzeuge, Ressourcen
    und Raum für Hacker, Maker und Tüftler aller Art. <a href={getRelativeLocaleUrl(locale, 'about')}
      >Mehr erfahren...</a
    >
  </p>
  <hr />
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    #mc_embed_signup {
      background: var(--bg);
      color: var(--fg);
      clear: left;
      font:
        14px Helvetica,
        Arial,
        sans-serif;
      width: 100%;
    }
    /* Eigene Mailchimp-Formularanpassungen können im Stylesheet der Website oder in diesem Style-Block ergänzt werden. */
  </style>
  <style type="text/css">
    #mc-embedded-subscribe-form input[type='checkbox'] {
      display: inline;
      width: auto;
      margin-right: 10px;
    }
    #mergeRow-gdpr {
      margin-top: 20px;
    }
    #mergeRow-gdpr fieldset label {
      font-weight: normal;
    }
    #mc-embedded-subscribe-form .mc_fieldset {
      border: none;
      min-height: 0px;
      padding-bottom: 0px;
    }
  </style>
  <div id="mc_embed_signup">
    <form
      action="https://munichmakerlab.us17.list-manage.com/subscribe/post?u=94f0ec65af1fbaa81f38cfc6b&id=5181b4bf00"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Abonniere unseren Newsletter</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-Mail-Adresse" required />
        <!-- Dieses Feld ist ein Honeypot gegen Bots. Bitte nicht entfernen. -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_94f0ec65af1fbaa81f38cfc6b_5181b4bf00" tabindex="-1" value="" />
        </div>
        <div class="clear">
          <input type="submit" value="Abonnieren" name="subscribe" id="mc-embedded-subscribe" class="button" />
        </div>
      </div>
    </form>
  </div>
  <h2>Neueste Aktivitäten im Space:</h2>
  <Posts client:only="vue" locale={Astro.currentLocale ?? 'en'} />
</Content>
