{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block header_img %}{% static '/static/img/bg_make.png' %}{% endblock %}

{% block headline %}About Us{% endblock %}

{% block sub_headline %}What's the Munich Maker Lab?{% endblock %}

{% block content %}
		<p>The Munich Maker Lab is a non-profit organization, creating an open community workspace, where you can learn, teach, share, make, hack, create, enjoy or simply relax. We try to create an environment that supports the do-it-yourself-, hacker-, and maker-culture by providing workspace, tools and infrastructure to our members and everyone else.</p>

		<p><a href="statues.html">Our statues</a> and <a href="scaleoffees.html">our scale of fees</a></p>

		<h2 class="section-heading">Support us</h2>

		<p>We need to pay rent for our space, maintenance for tools, and we'd also like to support projects that happen at the space. To do so, we need money. We try to cover our fixed costs with membership fees (20€ per month, 10€ if you're under 18). Being a member has some benefits, such as the possibility to get a key to the space. If you want to become a member and support us on a regular basis, please fill out our <a href="https://wiki.munichmakerlab.de/images/a/a4/Membershipform_de.pdf">membership form</a>, and bring it to one of our meetings. However, being a member is not a prerequisite to use the space, so feel free to just stop by.</p>

		<p>If you like what we do, and want to give us a quick boost: we also take donations. Since we are a non-profit organisation according to German law, we can send you a receipt, and you can hand it in with your taxes. Here's our bank details:
			<blockquote>
				Munich Maker Lab e.V.<br>
				IBAN: DE25701500001003311071<br>
				BIC: SSKMDEMMXXX<br>
				Bank: Stadtsparkasse München
			</blockquote>
		Make sure to send us an email to <a href="mailto:vorstand@munichmakerlab.de?subject=Donation">vorstand@munichmakerlab.de</a>, so we can get you your receipt.
		</p>
{% endblock %}
