{% extends "base.html" %}

{% block title %}Munich Maker Lab - Contact{% endblock %}

{% block header_img %}{{ STATIC_URL }}/img/copter.jpg{% endblock %}

{% block headline %}Contact{% endblock %}
{% block sub_headline %}Any questions? Contact us!{% endblock %}

{% block content %}
	<p>If you have any questions, drop us an email at <a href="mailto:info@munichmakerlab.de">info@munichmakerlab.de</a>. Or join our IRC channel #munichmakerlab over at the hackint network.</p>

	<h2>Mailinglist</h2>
	<p>If you're up for it, join our mailinglist discuss@munichmakerlab.de by signing up <a href="http://lists.munichmakerlab.de/listinfo/discuss">here</a>. The mailinglist is were most of our communication happens.</p>

	<h2>Address</h2>
	<p>
	Munich Maker Lab<br>
	Dachauerstr. 112F<br>
	80636 München<br>
	</p>

	<h2>Visit us</h2>

	<p>
		Going in through the main entry of Dachauerstr. 112, head into the building on the right hand side with the big metal and glass doors.
	</p>
	</p>
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.549321115016939%2C48.15824558560196%2C11.551523208618166%2C48.15948014364381&amp;layer=mapnik&amp;marker=48.1588628683365%2C11.550423502922058" style="width:100%;height:300px;"></iframe><br/><small><a href="https://www.openstreetmap.org/node/3426114357#map=19/48.15884/11.55063">Show bigger map</a></small>
	</p>

{% endblock %}
