{% extends "base.html" %}

{% block title %}Munich Maker Lab - Contact{% endblock %}

{% block header_img %}{{ STATIC_URL }}/img/copter.jpg{% endblock %}

{% block headline %}Contact{% endblock %}
{% block sub_headline %}Any questions? Contact us!{% endblock %}

{% block content %}
	<p>If you have any questions, drop us an email at <a href="mailto:info@munichmakerlab.de">info@munichmakerlab.de</a>. Or join our IRC channel #munichmakerlab over at the hackint network.</p>

	<h2>Mailinglist</h2>
	<p>If you're up for it, join our mailinglist discuss@munichmakerlab.de by signing up <a href="http://lists.munichmakerlab.de/listinfo/discuss">here</a>. The mailinglist is were most of our communication happens.</p>

	<h2>Address</h2>
	<p>
	Munich Maker Lab<br>
	Baierbrunner Str. 28<br>
	81379 München<br>
	</p>

	<h2>Visit us</h2>

	<p>
		Going in through the main gate of Baierbrunner Str. 28, head into the building on the left hand side, and down in the basement. Take a right turn, and you'll find the Lab a few meters down the hallway, on the left side.
	</p>
	</p>
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.5256667137146%2C48.09446982382969%2C11.537640094757078%2C48.098675997943346&amp;layer=mapnik&amp;marker=48.09657295389923%2C11.53165340423584" style="width:100%;height:300px;"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=48.09657&amp;mlon=11.53165#map=17/48.09657/11.53165&amp;layers=N">Show bigger map</a></small>
	</p>

{% endblock %}
