{% extends "base.html" %}

{% block title %}Munich Maker Lab - Contact{% endblock %}

{% block header_img %}{{ STATIC_URL }}/img/copter.jpg{% endblock %}

{% block headline %}Contact{% endblock %}
{% block sub_headline %}Any questions? Contact us!{% endblock %}

{% block content %}
	<p>If you have any questions, drop us an email at <a href="info@munichmakerlab.de">info@munichmakerlab.de</a>. Or join our IRC channel #munichmakerlab over at the hackint network.</p>

	<h2>Mailinglist</h2>
	<p>If you're up for it, join our mailinglist discuss@munichmakerlab.de by signing up <a href="http://lists.munichmakerlab.de/listinfo/discuss">here</a>. The mailinglist is were most of our communication happens.</p>
	
	<h2>Visit us</h2>
	<p>Make sure you write down the <a href="https://wiki.munichmakerlab.de/wiki/Onboarding#Finding_us">phone number</a>, so we can let you in.
	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=11.583967208862305%2C48.11468067571242%2C11.631860733032227%2C48.132212755798236&amp;layer=mapnik&amp;marker=48.12344746375088%2C11.607913970947266" style="width:100%;height:300px;"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=48.1234&amp;mlon=11.6079#map=15/48.1234/11.6079">Show bigger map</a></small>
	</p>
	<h3>Address</h3>
	<p>
	Munich Maker Lab<br>
	Werk1 München<br>
	Grafinger Straße 6<br>
	81671 München<br>
	</p>
{% endblock %}
