{% extends "base.html" %}

{% block title %}Munich Maker Lab - Impressum{% endblock %}

{% block header_img %}{{ STATIC_URL }}/img/copter.jpg{% endblock %}

{% block headline %}Impressum{% endblock %}
{% block sub_headline %}The legal stuff.{% endblock %}

{% block content %}
	<p>Diese Webseite und alle weitere Angebote unter der Domain munichmakerlab.de werden betrieben vom Munich Maker Lab.</p>

	<p>Vertretungsberechtigt im Sinne des § 5 Abschnitt 1 TMG und des § 26 BGB ist der Vorstand.</p>
	<h2>Vorstand</h2>
	<ul>
		<li>1. Vorsitzender: Severin Schols</li>
		<li>2. Vorsitzender: Karim Hamdi</li>
		<li>Kassenwart: Peter Fröhlich</li>
	</ul>
	
	<h2>Kontakt</h2>
	<p>E-Mail: vorstand@munichmakerlab.de</p>
	
	<h2>Anschrift</h2>
	<p>
	Munich Maker Lab<br>
	Werk1 München<br>
	Grafinger Straße 6<br>
	81671 München<br>
	</p>

	</p>Inhalte (Text, Bilder, Dateien, fremdeingebundene Inhalte und Links auf fremde Webangebote) im Blog, im Wiki und im Archiv der Mailinglisten können nach Anmeldung durch jedermann frei erstellt oder verändert werden und stellen eine persönliche Meinung der jeweiligen Autoren dar. Eine Vorabprüfung der Inhalte vor Veröffentlichung (redaktionelle Freischaltung) findet nicht statt. Rechtlich bedenkliche (z.B. Urheberrecht, jugendgefährdende Inhalte) werden nach schriftlicher Aufforderung an den Betreiber nach Prüfung gelöscht oder verändert werden.</p>
{% endblock %}
