{% extends "base.html" %}

{% block custom_css %}
	<link rel="stylesheet" href="{% static '/static/lib/responsiveslides/responsiveslides.css' %}">
	<link rel="stylesheet" href="{% static '/static/lib/lightbox/css/lightbox.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/tumblr.css' %}">

	<link rel="alternate" type="application/rss+xml" href="http://log.munichmakerlab.de/rss">
{% endblock %}

{% block title %}Munich Maker Lab{% endblock %}

{% block headline %}Munich Maker Lab{% endblock %}

{% block sub_headline %}Munich's freshest makerspace{% endblock %}

{% block content %}
	<div id="log">loading...</div>
	<!-- Pager -->
	<ul class="pager">
			<li class="next">
					<a href="http://log.munichmakerlab.de/">View all posts in the Log &rarr;</a>
			</li>
	</ul>
{% endblock %}

{% block custom_js %}
	<script src="{% static '/static/lib/responsiveslides/responsiveslides.min.js' %}"></script>
	<!-- RSS Feed -->
	<script src="{% static '/static/lib/tumblr-rss.js' %}"></script>
	<script src="{% static '/static/lib/lightbox/js/lightbox.min.js' %}"></script>
	<script>
		$(function() {
			var tumblr = new TumblrRSS($('#log'), 'https://munichmakerlab.de/', 10);
			tumblr.start(function() {
				$(".rslides").responsiveSlides({
					auto: false,
					nav: true,
					pager: false,
				});
			});
		});
	</script>
{% endblock %}
