{% extends "base.html" %}

{% block title %}Scale of fees{% endblock %}

{% block header_img %}{% static '/static/img/bg_spacestatus.png' %}{% endblock %}

{% block headline %}Scale of fees{% endblock %}

{% block sub_headline %}The financial stuff...{% endblock %}

{% block content %}
		<h3>Beitragsordnung</h3>

		<h4>§1 Höhe der Beiträge</h4>
		<ol>
			<li>Der Mitgliedsbeitrag beträgt 20 Euro pro Monat / entsprechend 240 Euro pro Jahr.</li>
			<li>Der Mitgliedsbeitrag für Personen unter 18 Jahren beträgt 10 Euro pro Monat / entsprechend 120 Euro pro Jahr.</li>
			<li>In begründeten Härtefällen können individuelle Absprachen mit dem Vorstand getroffen werden.</li>
		</ol>

		<h4>§2 Fälligkeit</h4>
		<ol>
			<li>Der Mitgliedsbeitrag wird jeweils zum 1. des Monats bzw. mit der Annahme des Aufnahmeantrags fällig.</li>
		</ol>

		<h4>§3 Zahlungsweise</h4>
		<ol>
			<li>Die Zahlung des Beitrages erfolgt monatlich im Lastschriftverfahren. Bei nicht ausreichender Deckung des Kontos sind die entstehenden Gebühren vom Mitglied zu begleichen.</li>
		</ol>

		<h4>§4 Aufnahmegebühren</h4>
		<ol>
			<li>Aufnahmegebühren werden nicht erhoben.</li>
		</ol>

		<h4>§5 Erstattungen</h4>
		<ol>
			<li>Eine Erstattung von Mitgliedsbeiträgen findet nicht statt.</li>
		</ol>
{% endblock %}
