<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Munich Maker Lab{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/clean-blog.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}/css/mumalab.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	  {% block custom_css %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div class="modal fade" id="spacestatus_modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Space Status</h4>
				</div>
				<div class="modal-body">
					<img src="//status.munichmakerlab.de/image.php" style="width:100px;height:100px;">
					<p>
						If there are people at the space, this light will be green.<br>
						If the space is currently closed, it'll be red.<br>
						If the light is grey, something is broken and our highly trained monkeys are already on the way to get it fixed.
					</p>
					<p>
						For more details, take a look at the <a href="https://wiki.munichmakerlab.de/wiki/StartYourEngines">Start Your Engines</a> project in our wiki.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Munich Maker Lab</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
					<li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <a href="calendar.html">Calendar</a>
                    </li>
                    <li>
                        <a href="https://wiki.munichmakerlab.de/">Wiki</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
					<li id="status_label">
						<a class="label label-default">Unknown</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% block header_img %}{{ STATIC_URL }}/img/bg_main.png{% endblock %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{% block headline %} Munich Maker Lab{% endblock %}</h1>
                        <hr class="small">
                        <span class="subheading">{% block sub_headline %} Munich's freshest hackerspace{% endblock %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
				{% block content_container %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
							{% block content %}
                <div id="log">loading...</div>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="http://log.munichmakerlab.de/">View all posts in the Log &rarr;</a>
                    </li>
                </ul>
              {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/munichmakerlab">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://log.munichmakerlab.de">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/munichmakerlab">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Munich Maker Lab e.V. 2017 - <a href="imprint.html">Impressum/Imprint</a> - Fork this page on <a href="https://github.com/munichmakerlab/website">Github</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}/js/clean-blog.min.js"></script>

		<script>
			$(function() {
				$.getJSON("https://status.munichmakerlab.de/api.php", function(data) {
					if(data.door == "open") {
						$("#status_label").html('<a class="label label-success" data-toggle="modal" data-target="#spacestatus_modal">Open</a>');
					} else if (data.door == "closed") {
						$("#status_label").html('<a class="label label-danger" data-toggle="modal" data-target="#spacestatus_modal">Closed</a>');
					} else {
						$("#status_label").html('<a class="label label-default" data-toggle="modal" data-target="#spacestatus_modal">Unknown</a>');
					}
				});
			});
		</script>


		{% block custom_js %}

		{% endblock %}
</body>

</html>
